<ul class="nav navbar-custom nav-fill">
    <li class="nav-item my-3">
        <span class="nav-text disabled">Самара</span>
    </li>
    <li class="nav-item my-3">
        <span class="nav-text disabled">+7 927 019 22 16</span>
    </li>
    <a class="nav-link active my-2" aria-current="page" href="https://vk.com/olivia.flowers">
        <img src="../vk.png" alt="Vk" style="height: 22px;">
        <span class="nav-text disabled">OLIVIA</span>
    </a>
    <a class="nav-link active my-2" aria-current="page" href="https://www.instagram.com/olivia_flowers_market/">
        <img src="../inst.png" alt="Instagram" style="height: 22px;">
        <span class="nav-text disabled">olivia_flowers_market</span>
    </a>
</ul>
