<div class="container-fluid text-center">
  <nav class="navbar navbar-custom navbar-expand-sm ">
    <a class="navbar-brand" href="/">Olivia Flowers</a>

    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/catalog">Каталог</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/order">Корзина</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Войти</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout-link" href="#">Выйти</a>
      </li>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
        $(document).ready(function() {
          $('.logout-link').click(function(e) {
            e.preventDefault(); // Предотвращаем стандартное действие ссылки
            var logoutForm = document.createElement('form');
            logoutForm.method = 'post';
            logoutForm.action = '/logout';

            // Создаем скрытые поля для CSRF токена
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = '_csrf';
            csrfTokenInput.value = '${_csrf.token}';

            // Добавляем поля в форму
            logoutForm.appendChild(csrfTokenInput);

            // Добавляем форму в body и отправляем ее
            document.body.appendChild(logoutForm);
            logoutForm.submit();
          });
        });
      </script>
    </ul>
  </nav>
</div>